.features {
  padding-bottom: 70px;
  position: relative;
  z-index: 1;
}
.features__subtitle {
  margin: 16px 0;
  text-align: center;
  color: #161615;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  font-weight: 400;
}
.features__decor {
   display: none;
}
.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.features__item {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 192px;
    box-shadow: 0 40px 80px rgba(0,0,0,.1);
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 16px;
}
[data-aos=feature-anim].aos-animate {
  transform: skew(0,-5deg);
    opacity: 1;
}
[data-aos=feature-anim] {
  transform: translate3d(100px,0,0);
  opacity: 0;
  transition-property: transform,opacity;
}
@media (min-width: $desktop)  {
  .wrapper {
    overflow: visible;
  }
  .features__list {
   flex-direction: row;
   justify-content: space-evenly;
  }
  .features__decor {
    display: block;
    user-select: none;
    position: absolute;
    transform-style: flat;
    &_first {
      top: 10%;
      left: 84%;
    }
    &_second {
      top: 27%;
      left: 90%;
      z-index: 1;
    }
    &_third {
      top: -24%;
        left: 80%;
        z-index: 1;
    }
    &_fourth {
      right: -4%;
        top: 90%;
        z-index: 1;
    }
    &_fifth {
      left: 80%;
      top: 70%;
    }
    &_sixth {
      left: 15%;
      top: 90%;
    }
    &_seventh {
      left: 5%;
      top: 60%;
      width: 67px;
      z-index: 1;
    }
    &_eigth {
      left: -5%;
      top: 85%;
    }
    &_tenth {
      left: -5%;
        top: 10%;
        z-index: -1;
    }
    &_eleventh {
      left: 10%;
      top: 25%;
    }
  }
}

